<?xml version="1.0" encoding="UTF-8"?>
<!-- $HOME/.m2/settings.xml We set 3 profiles: develop, preproduction and production 
	To check active profiles, in a project folder we run mvn help:active-profiles 
	Now in our pom.xml we can add profiles with their own properties like database 
	settings -->
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<profiles>
		<profile>
			<id>develop</id>
			<activation>
				<!-- develop is active by default, so doing 'mvn install' will apply this -->
				<activeByDefault>true</activeByDefault>
			</activation>
			<properties>
				<environment.type>develop</environment.type>
			</properties>
		</profile>
		<profile>
			<id>preproduction</id>
			<activation>
				<activeByDefault>false</activeByDefault>
			</activation>
			<properties>
				<environment.type>preproduction</environment.type>
			</properties>
		</profile>
		<profile>
			<id>production</id>
			<activation>
				<activeByDefault>false</activeByDefault>
			</activation>
			<properties>
				<environment.type>production</environment.type>
			</properties>
		</profile>
	</profiles>
</settings>       